<h1>Hello <%= @username %><h1>

<h2>You have requested <%= @room_details['title'] %></h2>

<%= @room_details['description'] %>
<br>
<%= @room_details['price'] %>
<br>
<%= @room_details['location'] %>
<br>
on <%= @occupied_date %>
<br>
Approve status: <%= @approve_status %>