Welcome <%= @username %>

<%@rooms.each{|room|%>
  <p> 
  <li><%=room.title%> 
  <li><%=room.description%>
  <li><%=room.price%>
  <li><%=room.location%>
  </p>
<%}%>

<form action='/rooms/request' method='POST' >
  <input type='text' name='title' />
  <input type='date' name='occupied_date' />
  <input type='submit' value='Submit' />
</form>
