<h1>Welcome <%= @username %></h1>
<form action='/rooms' method='POST' >

  <label for='desired_date'>Select A Booking Date</><br>
  <input type='date' id='desired_date' name='desired_date' />
  <input type='submit' value='submit' />
</form>

<br>
<br>
<h2>All Listed Rooms</h2>
<%@rooms.each{|room|%>
  <ul> 
    <li><%=room.title%></li>
    <li><%=room.description%></li>
    <li><%=room.price%></li>
    <li><%=room.location%></li>
    <li>Available from <%=room.available_from%> to <%=room.available_to%></li>
  </ul>
<%}%>

<br>
<a href='/rooms/new'><h3>List A New Room</h3></a>

<a href='/approvals'><h3>Approve Requests For Your Rooms</h3></a>

